
html, body {
  width  : 100%;
  height : 100%;
  font-family: "メイリオ", sans-serif;
  font-size: 10px;
  background : whitesmoke;
  color :#696969;
}


select {
  color : #696969;
  font-size :12.5px;
}

input, th
{
  font-size: 16px;
}

input.input-date {
  font-family: "メイリオ", sans-serif;
  font-size: 12px;
}


table input {
  border : none ;
  color :#696969;
}

input {
  width : 100%;
  outline-color: rgb(103,5  8,183);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
  outline-color: rgb(103,58,183);
  /*outline-color: #ff5b94;*/
}

/*テーブル全体*/
table {
  margin-top: 20px;
}

tbody, input {
  color :#696969;
  font-size: 12.5px;
}

.btn {
  margin-left : 7px;
  margin-right : 7px;
}

.mdl-layout__content {
  width: 100%;
  height: 100%;
}

#user-register-container {
  width: 100%;
  height: 100%;
}

.main-contents {
  width: 100%;
  height: 100%;
}

/**
 * common view css
 */
.is-hidden {
  display: none !important;
}

.is-error {
  border: 1px solid #ff4081 !important;
  background: #ffeaf1 !important;
}