@charset 'UTF-8';

/* --------------
    navigation
-----------------*/
#nav {
  position : fixed;
  text-align: right;
  margin-top: 100px;
  height: 100%;
  width: 200px;
}

.btn--navi  {
  display: block;
  margin-top: 10px;
}

.navi-lower-level {
  display: none;
  margin : 0;
  padding: 0;
}

.navi-lower-level .mdl-navigation__link.btn-navi {
  padding-left : 60px;
}

.navi-upper-level .arrow {
  display          : inline-block;
  width            : 12px;
  height           : 12px;
  background-size  : 12px 12px;
  background-image : url(../imgs/arrow.png);
  position         : absolute;
  right            : 16px;
  margin-top       : 5px;
  transition       : all .15s linear;
}

.arrow.arrow--rotate {
  transform : rotate(90deg);
}

/* -------------------
  header
---------------------- */

.login-user {
  width: 100px;
  height: 40px;
}

.login-user .name {
  display: block;
  margin-top: 10px;
  font-size: 1.3em;
}


/* -------------------
  common mdl overwrite
---------------------- */
.mdl-tabs__panel {
  /*min-width: 900px;*/
  /*width : 900px;*/
  margin: 0 auto;
}

.mdl-textfield {
  display: block;
  width : 100%;
}

.mdl-tabs__panel {
  padding : 15px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.mdl-data-table {
  font-size: 11.5px;
}

.mdl-data-table th {
  height: 40px;
  padding: 0 15px 4px 15px;
  line-height :30px;
}

.mdl-data-table tbody tr {
  height: 35px;
}

.mdl-data-table td {
  height: 35px;
  padding : 5px 15px;
}

/* --------------
   common button
----------------- */

.btn {
  /*outline : none;*/
}

.setting .btn--del {
  padding : 0;
  min-width: 27px;
  height: 27px;
  margin: auto;
  line-height: 0px;
}


/* --------------
   common field
----------------- */

.mdl-selectfield {
  width : 90%;
}

.mdl-dialog__title {
  font-size: 1.1em;
}

.icon-name-super {
  margin-left: 3px;
  font-size: 0.8em;
}

.icon-name-middle {
  margin-left: 10px;
  vertical-align: middle;
}


/* -------------------
   common contents
---------------------- */
.main-contents {
  display: none;
  /*width : 1200px;*/
  margin: 0 auto;
}

.main-contents.is-active {
  display: block;
}

/*.setting__action {
  width : 180px;
  margin-left : auto;
}
*/

.setting__action {
  /*width: 60%;*/
  /*min-width : 60%;*/
  margin: 20px auto;
  text-align: right;
}

.setting__body .mdl-data-table {
  margin: 0 auto;
  min-width: 60%;
}


/* -------------------
   home
---------------------- */

.home-wrapper {
  display: flex;
  display: -webkit-flex;
  height: 100%;
}

.home-wrapper .filter {
  margin : 11px 0 0 10px;
  height : 20px;
  font-size: 0.8em;
}

.home-wrapper__left {
  flex: 0.5;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.home-wrapper__center {
  flex : 0.5;
  margin-top: 15px;
}

.home-wrapper__right {
  flex : 2;
  margin: 15px 30px;
}

.header-icon {
  margin-right: 10px;
}

.header-icon-name {
  position: absolute;
  top: 42px;
  font-size: 5px;
  margin-left: 6px;
}

.small-font {
  font-size: 0.6em;
}

.article-notice {
  min-width: 200px;
  height: 100%;
}

.article__title {
  margin : 0 0 3px 0;
  padding-left: 7px;
  color : #595959;

}

.article__body {
  width: 100%;
  height: 92%;
  border-radius: 2px;
  min-width: 300px;
}

.article-notice__list {
  height: 94%;
  list-style: none;
  padding:0;
  margin: 45px 0 0 0;
  overflow-y: scroll;
}

.article-notice__item--header {
  position: absolute;
  width: 100%;
  height :40px;
  top : 0;
  background: white;
  border-bottom: 1px solid #dedcdc;
}

.notice-item__body {
  display: inline-block;
  width: 80%;
}

.notice-item__body .msg {
  display: inline-block;
  height: 45px;
  margin-top :1px;
  margin-right: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.notice-item__body .date,
.notice-item__body .user {
  font-size: 0.7em;
}

.article-notice__item--body {
  border-bottom: 1px solid #dedcdc;
}

.article-notice__item--body:hover {
  background :#e4e4e4;
}

.notice-item__footer {
  display: block;
  margin-right: 15px;
  text-align: right;
  font-size: 0.5em;
}

.notice-item-status-circle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  margin: 20px 0 0 7px;
  color: white;
}

.notice-item-status {
  display: inline-block;
  width: 20%;
  float: left;
  line-height: 3;
  text-align: center;
}

.article-notice__item--body .state--warning {
  background: #ffb600;
}

.article-notice__item--body .state--primary {
  background: #7575ff;
}

.article-notice__item--body .state--info {
  background: #32e274;
}

.article-notice__item--body .state--danger {
  background: #ff5b94;
}

.article-notice__list .date {
}

.article-notice__list .user {
}

.article-servers-table {
  height: 92%;
}

.article-servers-table .servers-table {
  width : 100%;
  margin : 5px auto;
  border-collapse: collapse;
  font-size: 0.8em;
}

.article-servers-table .article__body {
  height: 100%;
}

.article-servers-table .article__body .action {
  position: absolute;
  background: white;
  width: 100%;
  height: 40px;
  border-bottom : 1px solid #ccc;
}

.article-servers-table .article__body .servers-table-wrap {
  overflow-y: scroll;
  margin-top:40px;
}

.article-servers-table td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 10px;
}

.article-servers-table .server {
  width: 20%;
}

.article-servers-table .pc_number,
.article-servers-table .available_number {
  text-align: right;
  padding-right: 15px;
}


.article-graph {
  /*margin-top:45px;*/
  height: 47%;
}

.article-graph .article__body .action {
  margin-top : 5px;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.article-graph .article__body .content {
  display: -webkit-flex;
  display: flex;
  height: 100%
}


.article-graph .lm {
  width: 50%;
  height: 95%;
}

.article-graph .es {
  width: 50%;
  height: 95%;
}

.article-calendar {
  margin-top: 20px;
  height: 48%;
}

.article-calendar .content {
  display: -webkit-flex;
  display : flex;
  height: 100%;
}

.article-calendar .calendar {
  width: 60%;
  height: 100%;
}

.article-calendar .events {
  width: 40%;
  height: 100%;
  border-left: 1px solid #ccc;
}

.article-calendar .table-data-center {
  text-align: center;
}

.calendar .header {
  margin: 15px auto;
  text-align: center;
}

.calendar .header .month {
  display: inline-block;
  width: 35%;
}

.calendar .body {
  height: 100%;
  width: 100%;
}

.calendar-table {
  width  : 65%;
  height : 65%;
  margin : 0px auto 0px auto;
}

.calendar-table .is-event {
  color : #ffb600;
}

.calendar-table .today {
  color : #ff5b94;
}

.events .header {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ccc;
}

.events .header .btn--make-event {
  position: absolute;
  right: 5px;
  margin-top: 5px;
}
.events .body {
  height: 100%;
}

.event-list {
  list-style: none;
  height: 80%;
  overflow-y: auto;
  padding : 0 0 0 20px;
}

.event-list .event-item {
  width: 90%;
  margin-top: 10px;
  cursor: pointer;
}

.event-list .event-item:hover {
  background : #e4e4e4;
}

.event-item .start_on,
.event-item .title {
  display: block;
}

/* イベントダイアログ */
#modal-event-item {
  width : 50%;
}

#modal-event-item .event__content .content-value {
  width: 100%;
  height: 300px;
  resize: none;
  line-height: 25px;
  border: 1px solid #dfdfdf;
}

#modal-event-item .input-item {
  margin : 10px 0 10px 0;
}

.article__footer {
  margin-top: 10px;
  padding: 6px 0;
  border-top: 1px solid #dedcdc;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}

/* -------------------
   make user
---------------------- */

.main-contents--mk-usr__title {
  width: 60%;
  margin: 100px auto 10px auto;
  padding-left: 7px;
  color : #595959;
}

.input-to-make {
  width : 60%;
  margin : 0 auto 0 auto;
  border-radius: 5px;
}

.input-to-make .select-name {
  margin-left : 35px;
  margin-top: 60px;
  margin-bottom: 5px;
  font-size: 0.6em;
}

.input-to-make .select-system,
.input-to-make .select-version,
.input-to-make .select-server {
  margin : 0 35px 10px 35px;
  height: 40px;
}

.input-to-make .select-kid {
  width: 90%;
  margin : 0 0 0 35px;
}

.input-to-make .btn--ok {
  margin : 70px 36px 30px auto ;
  width: 100px;
}




/* -------------------
   register user
---------------------- */

.user-register {
  width: 100%;
  height: 100%;
  text-align: right;
}

.upload {
  width : 85%;
  height: 80%;
  margin: 20px auto;
  border: 5px dashed rgb(103,58,183);
  border-radius: 25px;
  text-align: center;
}

.upload__title {
  position :absolute;
  top  : 66%;
  left : 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  font-size: 20px;
}

.upload__img {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-size: 128px 128px;
  background-image: url(../imgs/icon_file.png);
  position: absolute;
  top: 44%;
  right: 46%;
}

.btn--upload {
  margin-top : 30px;
  margin-right: 7%;
}


/* -------------------
   view users
---------------------- */

/*.main-contents.main-contents--view-usr {*/
#users-info {
  display: flex;
  display: -webkit-flex;
  height: 100%;
}

.users-table td.kid{
  color : #ff4081;
  cursor: pointer;
}

.main-contents--view-usr .mdl-data-table {
  margin-left: 30px;
  margin-right: 30px;
  /*float: left;*/
  /*min-width: 95%;*/
  width: 96%;
  /*display: table;*/
}

.main-contents__filter {
  z-index: 2000;
  width : 220px;
  height: 100%;
  min-width: 220px;
}

.filter__title {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.filter__body {
  height: 100%;
  overflow-y: scroll;
}

.filter-item {
  margin-top : 20px;
  margin-left : 15px;
}

.filter-item__title {
  font-weight: 600;
}

.filter-item__title .icon-name-super {
  font-size: 0.6em;
}

.filter-item__body {
  padding-top   : 10px;
  padding-left: 2px;
}

.filter-item .btn {
  width         : 70px;
  height        : 30px;
  margin-bottom : 10px;
  margin-left   : 10px;
  border-radius : 4px;
  border        : 1px solid #dedcdc;
  background    : white;
  color         : #dedcdc;
  font-size     : 10px;
}

.mobile .filter-item__body .btn {
  /*width : 78px;*/
}

.filter-item__body .btn--mon {
  /*border-radius: 4px 0px 0px 4px;*/
}

.filter-item__body .btn--moff {
  /*margin-left: -7px;*/
  /*border-radius: 0px 4px 4px 0px;*/
}

.filter-item .btn--on {
  background: #673ab7;
  border: 1px solid #673ab7;
  color: white;
}

.filter-item input.search {
  width: 90%;
}

.filter-item .select-servers {
  width: 150px;
  margin-left: 9px;
  height: 30px;
  background: white;
  border: 1px solid #dedcdc;
  color : #696969;
  outline: none;
}

.users-table__header {
  margin-left: 30px;
  margin-top : 20px;
  height: 50px;
  min-height: 0px; /* mdl-card overwrite */
}

.users-table {
  width : 100%;
  height: 100%;
  overflow-y:hidden;
}

.users-table__action {
  position : absolute;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 97px;
  background: whitesmoke;
}

.users-table__action .first_layer {
  position: absolute;
  right: 0;
  padding: 18px 20px 0 0;
}

.users-table__action .second_layer {
  position: absolute;
  right: 0;
  top: 65px;
  padding: 0 20px 0 0;
}

.users-table__action .second_layer .page_list {
  display: inline-block;
}

.users-table__body {
  height: 88%;
  margin-top: 103px;
  overflow:scroll;
}

/* -------------------
    edit or view users
---------------------- */

#user-edit {
  display: flex;
  height: 100%;
}


/* メモリスト */
.memos {
  width : 370px;
  height: 95%;
  margin: 20px 20px 20px 10px;
}

.memos__title {
  margin-bottom: 5px;
}

.memos__body .header {
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
}


.memos__body .header .filter {
  height      : 23px;
  line-height : 20px;
  width       : 90px;
  margin      : 14px;
  font-size   : 0.9em;
  /*float       : right;*/
}

.memos__body .memo-add {
  position: absolute;
  right: 13px;
  top: 30px;
  z-index: 1;
}

.memos__body {
  width: 98%;
  height: 96%;
}

.memo-list {
  list-style: none;
  padding:0;
  margin: 0;
}

.memos__body .body {
  overflow-y: auto;
}

.memos__body .body::-webkit-scrollbar {
  display: none;
}

.memo-item {
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.memo-item__status {
  width : 5px;
  height: 100%;
  margin-right: 10px;
  /*background: #ff5b94;*/
  float: left;
}

.memo-item__status.emergency {
  background: #ff5b94;
}

.memo-item__status.important {
  background: #ffb600;
}

.memo-item__status.special {
  background: #673ab7;
}


.memo-item__title {
  display: block;
  font-size: 1.1em;
  padding-top: 4px;
}

.memo-item__body {
  display: block;
  height: 22px;
  padding-left: 10px;
  font-size: 11px;
  overflow-y: hidden;
  line-height: 15px;
}

.memo-item__body .content {
  display: inline-block;
  width: 200px;
}

.memo-item__body .action {
  display: inline-block;
  float: right;
  margin-right: 7px;
}

.memo-item__body .action .mdl-button {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 9px;
}

.memo-item__body .action .material-icons {
  font-size: 1em;
}

.memo-item__footer {
  display: block;
  width : 138px;
  margin-left: auto;
  font-size: 11px;
}

/* メモ作成・編集ダイアログ */
#modal-memo-item {
  width : 50%;
}

#modal-memo-item .memo__priority .name {
  display: block;
}

#modal-memo-item .memo__priority,
#modal-memo-item .memo__content {
  margin-top : 20px;
}

#modal-memo-item .memo__template {
  margin-top: 10px;
}

#modal-memo-item .memo__template select{
  display: block;
}

#modal-memo-item .memo__content .content-value {
  width: 100%;
  height: 300px;
  resize: none;
  line-height: 25px;
  border: 1px solid #dfdfdf;
}

#user-edit table {
  margin : 20px auto;
}

.mdl-tabs__panel {
  margin-top: 0px;
  /*overflow-y: auto;*/
  height: 96%;
}

.user-edit__title {
  background: whitesmoke;
}

.user-edit__container {
  width: 80%;
  height : 95%;
  min-width: 760px;
  margin: 20px 20px 20px 30px;
}

.user-edit__body {
  background: white;
  height: 96%;
}

.user-edit__panels {
  overflow-y: auto;
  height: 85%;
}

.user-edit__panels::-webkit-scrollbar {
  display: none;
}

.user-edit-header__action {
  text-align: right;
  padding-right: 20px;
}

/*.user-edit__header .btn--backList {*/
.btn--backList {
  height      : 21px;
  background  : whitesmoke;
  color       : #696969;
  border      : none;
  /*text-decoration : underline ;*/
  cursor      : pointer;
  margin-bottom: 14px;
}


.user-list,
.partner-list,
.busiv-list {
  padding-left: 0px;
  list-style: none;
}

.user-list,
.partner-list {
  width:  85%;
  min-width: 705px;
  margin: 0 auto;
}

.user-list__section {
  width: 145px;
  border-radius: 5px;
  background: #bdbdbd;
  color : white;
  text-align: center;
  font-size: 0.9em;
}


.user-list__item {
  margin : 15px 0 0 15px;
  width: 100%;
}

/*.user-list__item .choice {*/
.choice {
  display: inline-block;
  width: 56px;
  border: 1px solid #dedcdc;
  border-radius: 20px;
  padding : 0px 13px;
  margin-right: 10px;
  text-align: center;
  color : #dedcdc;
  background: white;
  font-size: 0.6em;
}

/*.user-list__item .choice--on {*/
.choice--on {
  background: #673ab7;
  color : white;
  border: 1px solid #673ab7;
}

.user-edit__body .item-key,
.user-edit__body .item-value
 {
  display: inline-block;
  font-size: 12px;
  height: 27px;
}

.user-edit__body .item-key {
  width : 170px;
}

.user-edit__body .item-value {
  width : 70%;
  border :none;
  border-bottom: 1px solid #dedcdc;
  padding-left : 5px;
}

.user-edit__body .item-value[disabled] {
  background: white;
}

.user-edit__body .item-value.is-edit {
  border: 1px solid #dedcdc;
  background: whitesmoke;
  border-radius: 5px;
}

.user-list .client_number .item-value,
.user-list .number_pc .item-value {
  width : 25px;
}

.user-list .number_id .item-value {
  width: 30px;
}

.user-list .start_id .item-value {
  width: 40px;
}

.user-base-list .account .item-value {
  width : 60%;
}

.user-list .item-action {
  display: inline-block;
  margin-left: 15px;
}

.user-list .account .btn {
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 5px
}

.user-list .btn-minus-account {
}

.user-list .btn-plus-account,
.user-list .btn-plus-pc {
  margin-left: 8px;
  /*margin-right :2px;*/
  /*background: #ff4081;*/
  /*color: white;*/
}

.item-action .btn {
  min-width: 20px;
}

/* -------------------
   service tab
---------------------- */
.service-table,
.account-table,
.history-table {
  width : 80%;
  margin : 0 auto;
}

/* -------------------
   client tab
---------------------- */

#usr-client-panel .mdl-dialog {
  width : 60%;
}

#usr-client-panel .mdl-dialog .mdl-checkbox {
  margin : 10px 0;
}

/* -------------------
   network tab
---------------------- */

.fenics-section,
.busiv-lm-section,
.busiv-es-section,
.mobile-fenics {
  width : 85%;
  min-width: 705px;
  margin: 20px auto;
}

.fenics-section .fenics-table {
  width : 100%;
}

/* -------------------
   mobile tab
---------------------- */



/* -------------------
   fenics list
---------------------- */
.fenics-wrap {
  width: 50%;
  margin: 20px auto;
  min-width: 765px;
  height: 100%;
}

.fenics-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 800px;
  height: 54px;
  padding-top: 77px;
  background: whitesmoke;
}

.fenics-action {
  width: 117px;
  position: absolute;
  right: 0;
}

.fenics-body {
  margin-top: 75px;
}

.fenics-body .fenics-list {
  margin-bottom: 20px;
}

.fenics-list .edit {
  cursor: pointer;
}

/* 編集モーダル画面*/
#dialog-edit-fenics {
  width: 50%;
}

#dialog-edit-fenics .input-list {
  list-style: none;
  padding-left: 0px;
}

#dialog-edit-fenics li {
  margin: 10px 0 0 10px;
}

#dialog-edit-fenics .input-name {
  display: inline-block;
  width:15%;
  margin-right: 20px;
}

#dialog-edit-fenics .input {
  width: 70%;
}


/* -------------------
   setting common
---------------------- */

.btn .material-icons {
  color : gray;
}


/* -------------------
   setting servers
---------------------- */

.setting-master {
  max-width: 65%;
  min-width: 750px;
  margin: 0 auto;
}

.setting-master .select-version {
  position: absolute;
  width: 60px;
  font-size: 1em;
}

.setting-master .setting__body .mdl-data-table {
  width: 100%;
}

/* -------------------
   setting services
---------------------- */

/* -------------------
   setting memo template
---------------------- */

.memo-template {
  display: flex;
  display: -webkit-flex;
  width: 90%;
  height: 95%;
  margin : 20px auto;
  background: white;
}

.memo-template__list {
  flex : 0.25;
  border-right: 1px solid #dedcdc;
}

.memo-template__list .header {
  height: 5.5%;
  border-bottom: 1px solid #dedcdc;
  text-align: right;
}

.memo-template__list .btn--create {
  margin-top: 5px;
}

.memo-template__list .body {
  height: 94.5%;
  overflow-y: scroll;
}

.memo-template__list .item {
  border-bottom : 1px solid #dedcdc;
}

.memo-template__list .item:hover {
  background: #e4e4e4;
}

.memo-template__list .item__title {
  margin: 0;
}

.memo-template__list .item__short-msg {
  margin: 0;
  padding-left: 10px;
  font-size: 10px;
}

.memo-template__content {
  flex : 1;
}

.memo-template__content .header__title {
  width : 95%;
  margin: 10px auto 0 auto;
}

.memo-template__content .header__action {
  text-align: right;
  margin : 5px 0 0 0;
}

.memo-template__content .body {
  width: 95%;
  height: 95%;
  margin: 20px auto;
}

.memo-template__content .input-area {
  width: 100%;
  height: 80%;
  resize: none;
  border: 1px solid #dedcdc;
}

.memo-template__content .body .input-enabled-number {
  text-align: right;
  margin : 20px 0 0 0;
}

/* -------------------
   setting login
---------------------- */

.login-info {
  display: flex;
  display: -webkit-flex;
  width: 650px;
  height: 95%;
  margin : 20px auto;
}

.login-info__content {
  margin-right: 20px;
}

.login-info .user-info {
  width: 250px;
  min-height: 260px;
}

.login-info .authority {
  width: 400px;
}

.login-info__content .body {
  max-height: 90%;
  margin-top: 10px;
  background: white;
}

.login-info .login-user-name {
  margin-top: 10px;
}

.login-info .user-info .input-name {
  margin : 0 0 0 20px;
  padding : 10px 0 0 0;
}

.login-info .user-info input {
  margin-left: 20px;
  width : 200px;
}
.login-info .user-info .action {
  margin : 10px 0 0 170px;
}

.login-info .authority .body {
  overflow-y: scroll;
}

.login-info .authority .item {
  height: 30px;
  padding: 10px;
  border-bottom: 1px solid #dedcdc;
}

.login-info .authority .item:hover {
  background: #dedcdc;
}

.login-info .authority .item__part {
  vertical-align: -webkit-baseline-middle;
}

.login-info .authority .item i {
  font-size: 2.5em;
}

.login-info .authority .item .name {
  margin-left: 10px;
}



