<!DOCTYPE HTML>
<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/TableRowAndCell.css" />
</head>
<body>

  <div id='container'>
    

    <!-- enviroment view -->
    <div id='config'></div>

    <!-- user action view -->
    <div id='user'>

      <a class='navi' data-toggle="modal" data-target="#myModal">ユーザー追加</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">ユーザー削除</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">クライアント追加</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">クライアント削除</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">表示設定</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">Import</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">Export</a>

    </div>

    <!-- table view -->
    <div class='table-responsive'>
      <a href="#">All</a>
      >
      <a href="#">アカウント</a>
      <table class='table table-hover table-condensed'>
        <!-- table header -->
        <thead>
        </thead>
        <!-- table body -->
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


  <!-- load javascript  -->
  <script src='./js/lib/jquery-2.1.4.min.js'></script>
  <script src="./js/lib/bootstrap/bootstrap.min.js"></script>
  <script src='./js/lib/underscore.js'></script>
  <script src='./js/data.js'></script>
  <script src='./js/model.users.js'></script>
  <script src='./js/model.config.js'></script>
  <script src='./js/model.accounts.js'></script>
  <script src='./js/model.settings.js'></script>
  <script src='./js/view.users.js'></script>
  <script src='./js/view.config.js'></script>
  <script src='./js/shell.js' charset='utf-8'></script>
</body>
</html>