<!DOCTYPE HTML>
<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/material.min.css"/>
  <link rel="stylesheet" href="css/mdl-selectfield.css"/>
  <link rel="stylesheet" href="./css/TableRowAndCell.css" />
  <link rel="stylesheet" href="./css/base.css" />

</head>
<body>

  <!-- レイアウトフレーム -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- ヘッダー -->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <!-- TODO:Title メニュー変更に応じて変わる -->
        <span class="mdl-layout-title">ユーザー管理</span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- ヘッダー右メニューボタン -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <!-- ログインユーザー名 -->
          <div class='login-user'>
            <span class='login-user__icon'></span>
            <span class='login-user__name'></span>
          </div>

          <!-- 更新 -->
          <button class='reload'>reload</button>

          <!-- その他 -->
          <button id="demo-menu-lower-right" class="mdl-button mdl-js-button
                                                    mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <!-- その他リスト -->
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <li class="mdl-menu__item">ログアウト</li>
            <li class="mdl-menu__item">表示列</li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- ナビゲーションメニュー -->
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">メニュー</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link btn-navi" href="#home">HOME</a>
        <a class="mdl-navigation__link btn-navi" href="#reg-usr">ユーザー新規登録</a>
        <a class="mdl-navigation__link btn-navi" href="#view-usr">ユーザー情報</a>
        <a class="mdl-navigation__link navi-upper-level">設定<span class='arrow'></span> </a>
          <ul class='navi-lower-level'>
            <li class="mdl-navigation__link btn-navi" href="#settings-servers">サーバ情報</li>
            <li class="mdl-navigation__link btn-navi" href="#settings-services">サービス情報</li>
            <li class="mdl-navigation__link btn-navi" href="#settings-login-info">ユーザー情報</li>
          </ul>
      </nav>
    </div>

    <!-- メインコンテンツ -->
    <main class="mdl-layout__content">

      <!-- HOME -->
      <div class='main-contents main-contents--home is-active'></div>

      <!-- 新規登録 -->
      <div class='main-contents main-contents--reg-usr'></div>

      <!-- 編集 -->
      <div class='main-contents main-contents--edit-usr'></div>

      <!-- 参照・更新 -->
      <div class='main-contents main-contents--view-usr'></div>

      <!-- 設定 -->
      <div class='main-contents main-contents--settings-servers'></div>
      <div class='main-contents main-contents--settings-services'></div>
      <div class='main-contents main-contents--settings-login-info'></div>

    </main>

  </div>

  <!-- load javascript  -->
  <!-- OSS -->
  <script src='./js/lib/jquery-2.1.4.min.js'></script>
  <script src='./js/lib/jquery.uriAnchor.js'></script>
  <script src='./js/lib/underscore.js'></script>
  <script src="js/lib/material.js"></script>
  <script src="js/lib/mdl-selectfield.js"></script>

  <!-- My Project Souce -->
  <script src='./js/data.js'></script>
  <script src='./js/lib/mvc.js'></script>
  <script src='./js/lib/util.js'></script>
  <!-- model -->
  <script src='./js/model.kids.js'></script>
  <script src='./js/model.servers.js'></script>
  <script src='./js/model.accounts.js'></script>
  <script src='./js/model.services.js'></script>
  <script src='./js/model.user.base.js'></script>
  <!-- view -->
  <script src='./js/view.home.js'></script>
  <script src='./js/view.register.user.js'></script>
  <script src='./js/view.kids.js'></script>
  <script src='./js/view.edit.user.js'></script>
  <script src='./js/view.user.base.js'></script>
  <script src='./js/view.user.service.js'></script>
  <script src='./js/view.user.client.js'></script>
  <script src='./js/view.user.partner.js'></script>
  <script src='./js/view.user.network.js'></script>
  <script src='./js/view.user.history.js'></script>
  <script src='./js/view.setting.servers.js'></script>
  <script src='./js/view.setting.services.js'></script>
  <!-- shell -->
  <script src='./js/shell.js' charset='utf-8'></script>
</body>
</html>
