<!DOCTYPE HTML>
<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="./css/bootstrap/bootstrap-datepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/TableRowAndCell.css" />
</head>
<body>

  <div id='container'>
    
    <!-- enviroment view -->
    <div id='config'>
      <div id='navi'>
        <ul id='normal' class='dropmenu'>
          <li><a href="#">LM</a>
            <ul>
              <li><a href="#">オンプレ</a></li>
              <li><a href="#">クラウド</a></li>
            </ul>
          </li>
          <li><a href="#">ES</a>
            <ul>
              <li><a href="#">オンプレ</a></li>
              <li><a href="#">クラウド</a></li>
            </ul>
          </li>
          <li><a href="#">DEMO</a>
          </li>
        </ul>
      </div>

      <div id='filter'>
        <select class='server-select' name="server">
          <option value="">サーバ</option>
          <option value="AP1-1">AP1-1</option>
          <option value="AP1-2">AP1-2</option>
          <option value="AP1-3">AP1-3</option>
          <option value="AP1-4">AP1-4</option>
        </select>

        <div class="date-select">
          <label for="mydate">日付：</label>
          <input type="text" class="form-control" id="mydate">
        </div>
      </div>
    </div>



    <!-- user action view -->
    <div id='user'>
      <a class='navi' data-toggle="modal" data-target="#myModal">ユーザー追加</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">ユーザー削除</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">クライアント追加</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">クライアント削除</a>
      <a class='navi' data-toggle="modal" data-target="#viewConfig">表示設定</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">Import</a>
      <a class='navi' data-toggle="modal" data-target="#myModal">Export</a>
    </div>

    <!-- table view -->
    <div class='table-responsive'>
      <a href="#">All</a>
      >
      <a href="#">アカウント</a>
      <table class='table table-hover table-condensed'>
        <!-- table header -->
        <thead>
        </thead>
        <!-- table body -->
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- load javascript  -->
  <script src='./js/lib/jquery-2.1.4.min.js'></script>
  <script src="./js/lib/bootstrap/bootstrap.min.js"></script>
  <script src="./js/lib/bootstrap/bootstrap-datepicker.min.js"></script>
  <script src="./js/lib/bootstrap/bootstrap-datepicker.ja.min.js"></script>
  <script src='./js/lib/underscore.js'></script>
  <script src='./js/data.js'></script>
  <script src='./js/model.kids.js'></script>
  <script src='./js/model.user-action.js'></script>
  <script src='./js/model.accounts.js'></script>
  <script src='./js/model.settings.js'></script>
  <script src='./js/view.table.js'></script>
  <script src='./js/view.user-action.js'></script>
  <script src='./js/view.view-config.js'></script>
  <script src='./js/shell.js' charset='utf-8'></script>
</body>
</html>