<!DOCTYPE HTML>
<html>
<head>
  <title>KID管理</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/material.min.css"/>
  <link rel="stylesheet" href="./css/TableRowAndCell.css" />
  <link rel="stylesheet" href="./css/base.css" />

</head>
<body>

  <!-- レイアウトフレーム -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- ヘッダー -->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <!-- TODO:Title メニュー変更に応じて変わる -->
        <span class="mdl-layout-title">ユーザー管理</span>

        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>

        <!-- ヘッダー右メニューボタン -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <!-- ログインユーザー名 -->
          <div class='login-user'>
            <span class='name'></span>
          </div>

          <!-- 更新 -->
<!--           <div class='header-icon'>
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">cached</i>
            </button>
          </div>
 -->
          <!-- その他 -->
          <button id="demo-menu-lower-right" class="mdl-button mdl-js-button
                                                    mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>

          <!-- その他リスト -->
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <li class="mdl-menu__item logout">ログアウト</li>
            <li class="mdl-menu__item show-column">表示列</li>
          </ul>
        </nav>

      </div>
    </header>

    <!-- ナビゲーションメニュー -->
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">メニュー</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link btn-navi" href="#home">
          <i class="material-icons">home</i>
          <span class='icon-name-middle'>HOME<span>
        </a>
        <a class="mdl-navigation__link btn-navi" href="#mk-usr">
          <i class="material-icons">store</i>
          <span class='icon-name-middle'>ユーザー作成</span>
        </a>
        <a class="mdl-navigation__link btn-navi" href="#reg-usr">
          <i class="material-icons">assignment_ind</i>
          <span class='icon-name-middle'>ユーザー登録</span>
        </a>
        <a class="mdl-navigation__link btn-navi" href="#view-usr">
          <i class="material-icons">view_list</i>
          <span class='icon-name-middle'>ユーザー情報</span>
        </a>
<!--         <a class="mdl-navigation__link btn-navi" href="#view-fenics">
          <i class="material-icons">format_list_bulleted</i>
          <span class='icon-name-middle'>Fenicsリスト</span>
        </a>
 -->        <a class="mdl-navigation__link navi-upper-level">
          <i class="material-icons">build</i>
          <span class='icon-name-middle'>設定</span>
          <span class='arrow'></span>
        </a>
          <ul class='navi-lower-level'>
            <li class="mdl-navigation__link btn-navi" href="#settings-servers">
              <i class="material-icons">computer</i>
              <span class='icon-name-middle'>サーバ情報</span>
            </li>
            <li class="mdl-navigation__link btn-navi" href="#settings-services">
              <i class="material-icons">room_service</i>
              <span class='icon-name-middle'>サービス情報</span>
            </li>
            <li class="mdl-navigation__link btn-navi" href="#settings-memo-template">
              <i class="material-icons">content_paste</i>
              <span class='icon-name-middle'>テンプレート</span>
            </li>
            <li class="mdl-navigation__link btn-navi" href="#settings-login-info">
              <i class="material-icons">person</i>
              <span class='icon-name-middle'>ログイン情報</span>
            </li>
          </ul>
      </nav>
    </div>

    <!-- メインコンテンツ -->
    <main class="mdl-layout__content">

      <!-- HOME -->
      <div class='main-contents main-contents--home is-active'></div>

      <!-- ユーザー作成 -->
      <div class='main-contents main-contents--mk-usr'></div>

      <!-- ユーザー登録 -->
      <div class='main-contents main-contents--reg-usr'></div>

      <!-- 編集 -->
      <div class='main-contents main-contents--edit-usr'></div>

      <!-- 参照・更新 -->
      <div class='main-contents main-contents--view-usr'></div>

      <!-- fenicsリスト -->
      <div class='main-contents main-contents--view-fenics'></div>

      <!-- 設定 -->
      <div class='main-contents main-contents--settings-servers'></div>
      <div class='main-contents main-contents--settings-services'></div>
      <div class='main-contents main-contents--settings-memo-template'></div>
      <div class='main-contents main-contents--settings-login-info'></div>

    </main>

  </div>

<!-- 共通のダイアログ -->

<!-- loading dialog -->
<dialog class="mdl-dialog" id='dialog-loading'>
  <h6 class="mdl-dialog__title">サーバ通信</h6>
  <div class="mdl-dialog__content">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <span>Loading</span>
  </div>
  <div class="mdl-dialog__actions"></div>
</dialog>

<!-- alert -->
<dialog class="mdl-dialog" id='dialog-alert'>
  <h6 class="mdl-dialog__title">アラート</h6>
  <div class="mdl-dialog__content">
    <span class='dialog-message'></span>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="btn btn--close mdl-button">閉じる</button>
  </div>
</dialog>

<!-- 表示カラム用ダイアログ -->
<dialog class="mdl-dialog" id="dialog-show-columns">
  <h5 class="mdl-dialog__title">表示したい項目を選択してください</h5>
  <div class="mdl-dialog__content">

    <ul class='column-list'>
      <li class='item'>
        <span class='title'>個別</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-is_marked">
          <input type="checkbox" id="switch-is_marked" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>KID</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-kid">
          <input type="checkbox" id="switch-kid" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>顧客名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-user_name">
          <input type="checkbox" id="switch-user_name" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>フリガナ</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-kana">
          <input type="checkbox" id="switch-kana" class="mdl-switch__input">
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>サーバ</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-server">
          <input type="checkbox" id="switch-server" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>ユーザキー</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-userkey">
          <input type="checkbox" id="switch-userkey" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>DBパスワード</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-db_password">
          <input type="checkbox" id="switch-db_password" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>fenicsキー</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-fenics_key">
          <input type="checkbox" id="switch-fenics_key" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>ユーザー数</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-client_number">
          <input type="checkbox" id="switch-client_number" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>クライアント数</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-number_pc">
          <input type="checkbox" id="switch-number_pc" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>ライセンス</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-license">
          <input type="checkbox" id="switch-license" class="mdl-switch__input">
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>端末id収容数</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-number_id">
          <input type="checkbox" id="switch-number_id" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>端末id範囲</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-range_id">
          <input type="checkbox" id="switch-range_id" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>更新日</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-update_on">
          <input type="checkbox" id="switch-update_on" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>システム環境</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-system_type">
          <input type="checkbox" id="switch-system_type" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>バージョン</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-version">
          <input type="checkbox" id="switch-version" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>ビジVあり</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-has_busiv">
          <input type="checkbox" id="switch-has_busiv" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>ユニバあり</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-has_fenics">
          <input type="checkbox" id="switch-has_fenics" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>モバイル有無</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-has_mobile">
          <input type="checkbox" id="switch-has_mobile" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>

      <li class='item'><span class='title'>モバイル数</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-mobile_number">
          <input type="checkbox" id="switch-mobile_number" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>初期登録済</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-is_registered">
          <input type="checkbox" id="switch-is_registered" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>登録日</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-register_on">
          <input type="checkbox" id="switch-register_on" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>

      <li class='item'><span class='title'>SA会社名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-sa_company">
          <input type="checkbox" id="switch-sa_company" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SA担当者名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-sa_name">
          <input type="checkbox" id="switch-sa_name" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SA電話番号</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-sa_tel">
          <input type="checkbox" id="switch-sa_tel" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SAメール</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-sa_email">
          <input type="checkbox" id="switch-sa_email" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SE会社名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-se_company">
          <input type="checkbox" id="switch-se_company" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SE担当者名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-se_name">
          <input type="checkbox" id="switch-se_name" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SE電話番号</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-se_tel">
          <input type="checkbox" id="switch-se_tel" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>SEメール</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-se_email">
          <input type="checkbox" id="switch-se_email" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>緊急連絡先社名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-em_company">
          <input type="checkbox" id="switch-em_company" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>緊急連絡先担当者名</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-em_name">
          <input type="checkbox" id="switch-em_name" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>緊急連絡先電話番号</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-em_tel">
          <input type="checkbox" id="switch-em_tel" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>

      </li>
      <li class='item'><span class='title'>緊急連絡先メール</span>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-em_email">
          <input type="checkbox" id="switch-em_email" class="mdl-switch__input" >
          <span class="mdl-switch__label"></span>
        </label>
      </li>
    </ul>

  </div>
  <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button btn--save">保存</button>
      <button type="button" class="mdl-button btn--close">閉じる</button>
  </div>
</dialog>

<!-- edit fenics dialog -->
<dialog class="mdl-dialog" id='dialog-edit-fenics'>
  <h6 class="mdl-dialog__title">FenicsIDの編集</h6>
  <div class="mdl-dialog__content">

    <ul class='input-list'>

      <li class='fenics_id'>
        <span class='input-name'>FenicsID</span>
        <input class='input' type='text' disabled='disabled'></input>
      </li>

      <li class='password'>
        <span class='input-name'>パスワード</span>
        <input class='input' type='text' disabled='disabled'></input>
      </li>

      <li class='pc_name'>
        <span class='input-name'>コンピュータ名</span>
        <input class='input' type='text' maxlength='15'></input>
      </li>

      <li class='fenics_ip'>
        <span class='input-name'>IP</span>
        <input class='input' type='text'></input>
      </li>

      <li class='start_on'>
        <span class='input-name'>開始日</span>
        <input class='input' type='date' value=''></input>
      </li>

      <li class='end_on'>
        <span class='input-name'>終了日</span>
        <input class='input' type='date' value=''></input>
      </li>

    </ul>

  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="btn btn--save mdl-button">保存</button>
    <button type="button" class="btn btn--delete mdl-button">削除</button>
    <button type="button" class="btn btn--cancel mdl-button">キャンセル</button>
  </div>
</dialog>

  <!-- load javascript  -->
  <!-- OSS -->
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='./js/lib/encoding.min.js'></script>
  <script src='./js/lib/jquery-2.1.4.min.js'></script>
  <script src='./js/lib/underscore.js'></script>
  <script src="js/lib/material.js"></script>
  <script src="js/lib/moment.min.js"></script>

  <!-- My Project Souce -->
  <script src='./js/data.js'></script>
  <script src='./js/lib/util.js'></script>
  <script src='./js/class/Controller.js'></script>
  <script src='./js/class/Model.js'></script>
  <script src='./js/class/Page.js'></script>
  <!-- model -->
  <script src='./js/model/model.register.user.js'></script>
  <script src='./js/model/model.home.notices.js'></script>
  <script src='./js/model/model.home.serverTable.js'></script>
  <script src='./js/model/model.home.graph.js'></script>
  <script src='./js/model/model.home.events.js'></script>
  <script src='./js/model/model.kids.js'></script>
  <script src='./js/model/model.kids.column.js'></script>
  <script src='./js/model/model.fenics.js'></script>
  <script src='./js/model/model.servers.js'></script>
  <script src='./js/model/model.services.js'></script>
  <script src='./js/model/model.loginUser.js'></script>
  <script src='./js/model/model.loginUsers.js'></script>
  <script src='./js/model/model.memo.template.js'></script>
  <script src='./js/model/model.environments.js'></script>
  <script src='./js/model/model.user.base.js'></script>
  <script src='./js/model/model.user.customer.js'></script>
  <script src='./js/model/model.user.license.js'></script>
  <script src='./js/model/model.user.clients.js'></script>
  <script src='./js/model/model.user.partner.js'></script>
  <script src='./js/model/model.user.history.js'></script>
  <script src='./js/model/model.user.network.js'></script>
  <script src='./js/model/model.user.busiv.js'></script>
  <script src='./js/model/model.user.mobile.js'></script>
  <script src='./js/model/model.user.memos.js'></script>
  <!-- view -->
  <script src='./js/view/view.home.notices.js'></script>
  <script src='./js/view/view.home.serverTable.js'></script>
  <script src='./js/view/view.home.graph.js'></script>
  <script src='./js/view/view.home.calendar.js'></script>
  <script src='./js/view/view.make.user.js'></script>
  <script src='./js/view/view.register.user.js'></script>
  <script src='./js/view/view.kids.js'></script>
  <script src='./js/view/view.kids.filter.js'></script>
  <script src='./js/view/view.kids.column.js'></script>
  <script src='./js/view/view.fenics.js'></script>
  <script src='./js/view/view.edit.user.js'></script>
  <script src='./js/view/view.user.base.js'></script>
  <script src='./js/view/view.user.base.contract.js'></script>
  <script src='./js/view/view.user.service.js'></script>
  <script src='./js/view/view.user.client.js'></script>
  <script src='./js/view/view.user.partner.js'></script>
  <script src='./js/view/view.user.network.js'></script>
  <script src='./js/view/view.user.fenics.js'></script>
  <script src='./js/view/view.user.busiv.lm.js'></script>
  <script src='./js/view/view.user.busiv.es.js'></script>
  <script src='./js/view/view.user.mobile.js'></script>
  <script src='./js/view/view.user.history.js'></script>
  <script src='./js/view/view.user.memo.js'></script>
  <script src='./js/view/view.setting.servers.js'></script>
  <script src='./js/view/view.setting.services.js'></script>
  <script src='./js/view/view.setting.memo.template.js'></script>
  <script src='./js/view/view.setting.login.js'></script>
  <script src='./js/view/view.dialog.fenics.js'></script>
  <script src='./js/view/view.dialog.alert.js'></script>
  <script src='./js/view/view.dialog.loading.js'></script>
  <!-- shell -->
  <script src='./js/shell.js' charset='utf-8'></script>
</body>
</html>
