<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method='post' action='/login'>
      <input type='text' name='user'>
      <br>
      <input type='text' name='pass'>
      <button type='submit'></button>
    </form>
  </body>
</html>