<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/material.min.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/base.css"/>
  </head>
  <body>
      <!-- ヘッダー -->
    <!-- <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"> -->
    <div>
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only"></nav>
          <span>アカウント作成</span>
        </div>
      </header>
    </div>


    <div class='login__body'>

      <form class='login-form' method='post' action='/login'>
        <div class='input-item'>
          <span>ログイン名</span>
          <input class='id' type='text' name='user'>
        </div>
        <div class='input-item'>
          <span>パスワード</span>
          <input class='pass' type='text' name='pass'>
        </div>
        <div>
          <button class='btn--login mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' type='submit'>ログイン</button>
        </div>
      </form>

    </div>

    <div class='login__footer'></div>
    <script src="js/lib/material.js"></script>
  </body>

</html>