<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/material.min.css"/>
    <link rel="stylesheet" href="css/mdl-selectfield.css"/>
</head>
  <body>
    <div class='login'>

      <!-- ヘッダー -->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only"></nav>
          <i class="material-icons">arrow_drop_up</i>
          <i class="material-icons">arrow_drop_down</i>
        </div>
      </header>

      <div class='login__body'>

        <h1 class=''><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <form method='post' action='/login'>
          <input type='text' name='user'>
          <br>
          <input type='text' name='pass'>
          <button type='submit'></button>
        </form>

      </div>

      <div class='login__footer'>


      </div>


    </div>
    <script src="js/lib/material.js"></script>
  </body>
</html>