<div class='fenics-wrap'>

<div class='fenics-header'>
  <div class='fenics-action'>
    <a class='btn btn--download mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' href='#'>ダウンロード</a>
  </div>
</div>

<div class='fenics-body'>
  <div class='fenics-list'></div>
</div>

</div>

<dialog class="mdl-dialog" id='edit-fenics-item'>
  <h6 class="mdl-dialog__title">FenicsIDの編集</h6>
  <div class="mdl-dialog__content">

    <ul class='input-list'>

      <li class='fenics_id'>
        <span class='input-name'>FenicsID</span>
        <input class='input' type='text'></input>
      </li>

      <li class='password'>
        <span class='input-name'>パスワード</span>
        <input class='input' type='text'></input>
      </li>

      <li class='fenics_ip'>
        <span class='input-name'>IP</span>
        <input class='input' type='text'></input>
      </li>

      <li class='start_on'>
        <span class='input-name'>開始日</span>
        <input class='input' type='date' value=''></input>
      </li>

      <li class='end_on'>
        <span class='input-name'>終了日</span>
        <input class='input' type='date' value=''></input>
      </li>

    </ul>

  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="btn btn--save mdl-button">保存</button>
    <button type="button" class="btn btn--cancel mdl-button">キャンセル</button>
  </div>
</dialog>

