
<table class='servers-table'>

  <thead>
    <th class=''>サーバー</th>
    <th class=''>ユーザー数</th>
    <th class=''>収容可能数</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr id=''>
        <td class='server'>
          <%- item.server %>
        </td>
        <td class='pc_number'>
          <%- item.pc_number %>
        </td>
        <% if ( item.available_number < 0 ) { %>
          <td class='available_number is-over'>
        <% } else { %>
          <td class='available_number'>
        <% }  %>
          <%- item.available_number %>
        </td>
      </tr>
    <% }); %>

  </tbody>

</table>
