
<table class='servers-table mdl-data-table mdl-js-data-table'>

  <thead>
    <th class='mdl-data-table__cell--non-numeric'>サーバー</th>
    <th class='mdl-data-table__cell--non-numeric'>ユーザー数</th>
    <th class='mdl-data-table__cell--non-numeric'>収容可能数</th>
    <th class='mdl-data-table__cell--non-numeric'>バージョン</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr id=''>
        <td class='mdl-data-table__cell--non-numeric'>
          <%- item.server %>
        </td>
        <td class=''>
          <%- item.pc_number %>
        </td>
        <td class=''>
          <%- item.available_number %>
        </td>
        <td class='mdl-data-table__cell--non-numeric'>
          <%- item.version %>
        </td>
      </tr>
    <% }); %>

  </tbody>

</table>
