<table class='fenics-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>
  <thead>
    <th class='mdl-data-table__cell--non-numeric fenics_id'>Fenics ID</th>
    <th class='mdl-data-table__cell--non-numeric password'>パスワード</th>
    <th class='mdl-data-table__cell--non-numeric fenics_ip'>ip</th>
    <th class='mdl-data-table__cell--non-numeric start_on'>開始日</th>
    <th class='mdl-data-table__cell--non-numeric end_on'>終了日</th>
    <th class='mdl-data-table__cell--non-numeric create_on'>作成日</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr id='<%- item.fenics_id %>'>
        <td class='mdl-data-table__cell--non-numeric fenics_id'><%- item.fenics_id %></td>
        <td class='mdl-data-table__cell--non-numeric password'><%- item.password %></td>
        <td class='mdl-data-table__cell--non-numeric fenics_ip'><%- item.fenics_ip %></td>
        <td class='mdl-data-table__cell--non-numeric start_on'>
          <input class='input-date' type='date' value='<%- item.start_on %>' disabled='disabled'></input>
        </td>
        <td class='mdl-data-table__cell--non-numeric end_on'>
          <input class='input-date' type='date' value='<%- item.end_on %>' disabled='disabled'></input>
        </td>
        <td class='mdl-data-table__cell--non-numeric create_on'><%- item.create_on %></td>
      </tr>
    <% }); %>

  </tbody>

</table>


