<table class='fenics-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>
  <thead>
    <th class='mdl-data-table__cell--non-numeric fenics_id'>Fenics ID</th>
    <th class='mdl-data-table__cell--non-numeric password'>パスワード</th>
    <th class='mdl-data-table__cell--non-numeric pc_name'>コンピュータ名</th>
    <th class='mdl-data-table__cell--non-numeric fenics_ip'>ip</th>
    <th class='mdl-data-table__cell--non-numeric start_on'>開始日</th>
    <th class='mdl-data-table__cell--non-numeric end_on'>終了日</th>
    <th class='mdl-data-table__cell--non-numeric category'>分類</th>
    <th class='mdl-data-table__cell--non-numeric create_on'>作成日</th>
    <th class='mdl-data-table__cell--non-numeric edit'>編集</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr id='<%- item.fenics_id %>'>

        <td class='mdl-data-table__cell--non-numeric fenics_id'>
          <%- item.fenics_id %>
        </td>

        <td class='mdl-data-table__cell--non-numeric password'>
          <%- item.password %>
        </td>

        <td class='mdl-data-table__cell--non-numeric pc_name'>
          <%- item.pc_name %>
        </td>

        <td class='mdl-data-table__cell--non-numeric fenics_ip'>
          <%- item.fenics_ip %>
        </td>

        <td class='mdl-data-table__cell--non-numeric start_on'>
          <%- item.start_on %>
        </td>

        <td class='mdl-data-table__cell--non-numeric end_on'>
          <%- item.end_on %>
        </td>

        <td class='mdl-data-table__cell--non-numeric category'>
          <%- item.category %>
        </td>

        <td class='mdl-data-table__cell--non-numeric create_on'>
          <%- item.create_on %>
        </td>

        <td class='mdl-data-table__cell--non-numeric edit'>
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">edit</i>
          </button>
        </td>

      </tr>
    <% }); %>

  </tbody>

</table>


