<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <!-- header -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">モーダルボックス</h3>
  </div>
  <!-- body -->
  <div class="modal-body">
    <p>モーダルボックスの中身です。</p>
  </div>
  <!-- footer -->
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
    <button class="btn btn-primary">完了</button>
  </div>
</div>
