<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Modal タイトル</h4>
      </div>
      <div class="modal-body">
        <span>kid</span>     <input id='kid'     /><br>
        <span>company</span> <input id='user_name' /><br>
        <span>address</span> <input id='address' /><br>
        <span>server</span>  <input id='server'  /><br>
        <span>genics</span>  <input id='genics'  /><br>
        <span>userkey</span> <input id='userkey'  /><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary ok" data-dismiss="modal" >決定</button>
      </div>
    </div>
  </div>
</div>