<div class="modal fade" id="viewConfig">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Modal タイトル</h4>
      </div>
      <div class="modal-body">

        <ul>
          <% _.each( headerMap, function ( val , key ) { %>
            <li> <input type='checkbox' class=<%- key %> value='0'> <%- val %></li>
          <% }); %>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-primary ok" data-dismiss="modal" >決定</button>
      </div>
    </div>
  </div>
</div>