<!-- サーバテンプレート 管理容易化のためヘッダーとボディを同じファイルにいれる -->

<!-- header -->
<% if ( !is_redraw ) { %>
  <thead>
    <tr>
      <th class='env mdl-data-table__cell--non-numeric'>バージョン</th>
      <th class='name mdl-data-table__cell--non-numeric'>サーバ名</th>
      <th class='ip mdl-data-table__cell--non-numeric'>IPアドレス</th>
      <th class='del-flg'>削除</th>
    </tr>
  </thead>
  <tbody>
<% } %>

<!-- body -->

  <% _.each( list, function ( item, num ) { %>
    <tr data-id=<%- item.id %> >
      <td class='env'>  <input type='text' value=<%- item.version %> > </td>
      <td class='name'> <input type='text' value=<%- item.name        %> > </td>
      <td class='ip'>   <input type='text' value=<%- item.ip%> >           </td>
      <td align='center' class='del'>
        <button class='btn btn--del mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'>
          <i class="material-icons">delete_forever</i>
        </button>
      </td>
    </tr>
  <% });%>

<% if ( !is_redraw ) { %>
  </tbody>
<% } %>
