<!-- header -->

<table class='mdl-data-table mdl-js-data-table mdl-shadow--2dp'>

  <thead>
    <tr>
      <th class='env mdl-data-table__cell--non-numeric'>サーバタイプ</th>
      <th class='name mdl-data-table__cell--non-numeric'>サーバ名</th>
      <th class='ip mdl-data-table__cell--non-numeric'>IPアドレス</th>
      <th class='env mdl-data-table__cell--non-numeric'>接続DB</th>
      <th class='env mdl-data-table__cell--non-numeric'>収容数</th>
      <th class='del-flg'>削除</th>
    </tr>
  </thead>
  <tbody>

  <% _.each( list, function ( item, num ) { %>
    <tr data-id=<%- item.id %> >
      <!-- TODO: バージョンは選択式にする -->
      <td class='type'>
        <select class='select-type'>
          <option
          <% if ( item.type === 'AP' ) { %>
            selected
          <% } %>
          >AP</option>
          <option
          <% if ( item.type === 'DB' ) { %>
            selected
          <% } %>
          >DB</option>
          <option
          <% if ( item.type === 'WEB' ) { %>
            selected
          <% } %>
          >WEB</option>
        </select>
      </td>

      <td class='name'>
        <input type='text' value=<%- item.name %> >
      </td>

      <td class='ip'>
        <input type='text' value=<%- item.ip%> >
      </td>

      <td class='connect_db'>
            <select class='select-db'></select>
      </td>

      <td class='capacity'>
        <input type='number' value=<%- item.capacity %> >
      </td>

      <td align='center' class='del'>
        <button class="btn btn--del mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">delete_forever</i>
        </button>
      </td>

    </tr>
  <% });%>

  </tbody>

</table>

