<table class='mdl-data-table mdl-js-data-table mdl-shadow--2dp'>
  <!-- template -->
  <thead>
    <th class='mdl-data-table__cell--non-numeric'>サービスID</th>
    <th class='mdl-data-table__cell--non-numeric'>サービス名</th>
    <th class='mdl-data-table__cell--non-numeric'>型名</th>
    <th class='del-flg'>削除</th>
  </thead>

  <tbody>
    <% _.each( list, function ( item, num ) { %>
      <tr data-id='<%- item.id %>'>

        <td class='service_id'>
          <input type='text' maxlength='2' value=<%- item.service_id %> >
        </td>

        <td class='service_name'>
          <input type='text' value=<%- item.service_name %> >
        </td>

        <td class='sales_id'>
          <input type='text' value=<%- item.sales_id %> >
        </td>

        <td align='center' class='del'>
          <button class='btn btn--del mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'>
            <i class="material-icons">delete_forever</i>
          </button>
        </td>

      </tr>
    <% });%>
  </tbody>

</table>
