
<% if ( !is_redraw ) { %>
  <!-- アクション -->
  <div class='user-edit-header__action'>
    <button class='btn btn--cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect is-hidden' href='#edit-usr'>キャンセル</button>
    <button class='btn btn--del mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect is-hidden' href='#edit-usr'>削除</button>
    <button class='btn btn--save mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect is-hidden' href='#edit-usr'>保存</button>
    <button class='btn btn--edit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' href='#edit-usr'>編集</button>
    <button class='btn btn--download mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'>ダウンロード</button>
  </div>

  <!-- ダウンロード用ダイアログ -->
  <dialog class="mdl-dialog" id="modal-client-download">
      <h5 class="mdl-dialog__title">ファイル選択</h5>
      <div class="mdl-dialog__content">

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-client-bat">
          <input type="checkbox" id="checkbox-client-bat" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">ユーザー追加ini</span>
          <a class='download--client is-hidden' href="#">ダウンロード</a>
        </label>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-open-notice-csv">
          <input type="checkbox" id="checkbox-open-notice-csv" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">開通通知用CSV(新規用)</span>
          <a class='download--open-notice is-hidden' href="#">ダウンロード</a>
        </label>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-open-notice-csv-for-add">
          <input type="checkbox" id="checkbox-open-notice-csv-for-add" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">開通通知用CSV(追加用)</span>
          <a class='download--open-notice-for-add is-hidden' href="#">ダウンロード</a>
        </label>

      </div>
      <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button btn--exec">実行</button>
          <button type="button" class="mdl-button btn--close">閉じる</button>
      </div>
  </dialog>

<% } %>

<table class='account-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>

  <thead>
    <th class='mdl-data-table__cell--non-numeric'>ユーザー名</th>
    <th class='mdl-data-table__cell--non-numeric'>パスワード</th>
    <th class='mdl-data-table__cell--non-numeric'>対応FenicsID</th>
    <th class='mdl-data-table__cell--non-numeric'>作成日</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr id='<%- item.client_id %>'>
        <td class='mdl-data-table__cell--non-numeric'><%- item.client_id %></td>
        <td class='mdl-data-table__cell--non-numeric'><%- item.client_pass %></td>
        <td class='mdl-data-table__cell--non-numeric'>
          <select class='select-clients' disabled='disabled'></select>
        </td>
        <td class='mdl-data-table__cell--non-numeric'><%- item.create_on %></td>
      </tr>
    <% }); %>

  </tbody>

</table>



