<table class='es-service-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>
  <!-- template -->
  <thead>
    <th class='mdl-data-table__cell--non-numeric'>サービスID</th>
    <th class='mdl-data-table__cell--non-numeric'>サービス名</th>
  </thead>

  <tbody>
    <% _.each( list, function ( item, num ) { %>

      <tr class=<%- item.service_id %> >
        <td class='service_id mdl-data-table__cell--non-numeric'>
          <%- item.service_id %>
        </td>
        <td class='service_name mdl-data-table__cell--non-numeric'><%- item.service_name %>
        </td>
      </tr>

    <% });%>
  </tbody>

</table>
