

<% if ( !is_redraw ) { %>
  <!-- アクション -->
  <div class='user-edit-header__action'>
    <button class='btn--cancel mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect is-hidden' href='#edit-usr'>キャンセル</button>
    <button class='btn--del mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect is-hidden' href='#edit-usr'>削除</button>
    <button class='btn--save mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect is-hidden' href='#edit-usr'>保存</button>
    <button class='btn--edit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' href='#edit-usr'>編集</button>
    <button class='btn btn--download mdl-button mdl-js-button mdl-button--raised mdl-button--accent'>ダウンロード</button>
  </div>

  <!-- ダウンロード用ダイアログ -->
  <dialog class="mdl-dialog" id="modal-network-download">
      <h5 class="mdl-dialog__title">ファイル選択</h5>
      <div class="mdl-dialog__content">

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-fenics-csv">
          <input type="checkbox" id="checkbox-fenics-csv" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">fenicsアカウント作成CSV</span>
          <a class='download--fenics is-hidden' href="#">ダウンロード</a>
        </label>

      </div>
      <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button btn--exec">実行</button>
          <button type="button" class="mdl-button btn--close">閉じる</button>
      </div>
  </dialog>

<div class='fenics-section'>

<% } %>

  <h6 class='user-list__section'>Fenics情報</h6>
  <table class='fenics-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>

    <thead>
      <th class='mdl-data-table__cell--non-numeric'>Fenics ID</th>
      <th class='mdl-data-table__cell--non-numeric'>パスワード</th>
      <th class='mdl-data-table__cell--non-numeric'>ip</th>
      <th class='mdl-data-table__cell--non-numeric'>開始日</th>
      <th class='mdl-data-table__cell--non-numeric'>作成日</th>
    </thead>
    <tbody>

      <% _.each( list, function ( item, num ) { %>
        <tr id='<%- item.fenics_id %>'>
          <td class='mdl-data-table__cell--non-numeric fenics_id'><%- item.fenics_id %></td>
          <td class='mdl-data-table__cell--non-numeric password'><%- item.password %></td>
          <td class='mdl-data-table__cell--non-numeric fenics_ip'><%- item.fenics_ip %></td>
          <td class='mdl-data-table__cell--non-numeric start_on'>
            <input class='input-date' type='date' value='<%- moment(item.start_on).format("YYYY-MM-DD") %>' disabled='disabled'></input>
          </td>
          <td class='mdl-data-table__cell--non-numeric create_on'><%- item.create_on %></td>
        </tr>
      <% }); %>

    </tbody>

  </table>



<% if ( !is_redraw ) { %>
</div>

<div class='busiv-section'>

  <ul class='busiv-list'>
    <h6 class='user-list__section'>ビジ情報</h6>

    <li class='user-list__item circuit_name'>
      <span class='item-key'>回線品目</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item circuit_service'>
      <span class='item-key'>回線サービス</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item open_date'>
      <span class='item-key'>開通希望日</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item w_network'>
      <span class='item-key'>ネットワークアドレス</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item w_subnet'>
      <span class='item-key'>サブネットマスク</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item w_router'>
      <span class='item-key'>ルータ</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item has_sx'>
      <span class='item-key'>S連携有無</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item how_to_cooperate'>
      <span class='item-key'>連携方法</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item has_L3'>
      <span class='item-key'>L3有無</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item sx_ip'>
      <span class='item-key'>SのIPアドレス</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item has_carte'>
      <span class='item-key'>カルテ連携有無</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item carte_system'>
      <span class='item-key'>カルテシステム</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item carte_html_save_ip'>
      <span class='item-key'>カルテHTML保存IP</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item has_cc'>
      <span class='item-key'>CC連携</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item cc_ip'>
      <span class='item-key'>CCのIPアドレス</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item download_server_ip'>
      <span class='item-key'>ダウンロードサーバ</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

    <li class='user-list__item auth_server_ip'>
      <span class='item-key'>認証サーバ</span>
      <input class='item-value' type='text' value='' disabled='disabled'></input>
    </li>

  </ul>

</div>

<% } %>


