
<% _.each( list, function (item, num) { %>
  <li class='memo-item' data-memo_id='<%- item.id %>'>
    <span class='memo-item__status <%- item.priority %>'></span>
    <span class='memo-item__title'><%- item.title %></span>
    <span class='memo-item__body'>
      <span class='content'><%- item.short_msg %></span>
      <span class='action'></span>
    </span>
    <span class='memo-item__footer'>
      <span class='date'><%- item.create_on %></span>
      <span class='creat-user'><%- item.name %></span>
    </span>
  </li>
<% }); %>

