
<% if ( !is_redraw ) { %>
  <!-- アクション -->
  <div class='user-edit-header__action'>
    <button class='btn btn--download mdl-button mdl-js-button mdl-button--raised mdl-button--accent'>ダウンロード</button>
  </div>

<% } %>

<table class='account-table mdl-data-table mdl-js-data-table mdl-data-table--selectable'>

  <thead>
    <th class='mdl-data-table__cell--non-numeric'>ユーザー名</th>
    <th class='mdl-data-table__cell--non-numeric'>パスワード</th>
    <th class='mdl-data-table__cell--non-numeric'>作成日</th>
  </thead>
  <tbody>

    <% _.each( list, function ( item, num ) { %>
      <tr>
        <td class='mdl-data-table__cell--non-numeric'><%- item.client_id %></td>
        <td class='mdl-data-table__cell--non-numeric'><%- item.client_pass %></td>
        <td class='mdl-data-table__cell--non-numeric'><%- item.update_on %></td>
      </tr>
    <% }); %>

  </tbody>

</table>

