
<% _.each( list, function (item, num) { %>
  <li class='memo-item' data-memo_id='<%- item.id %>'>
    <span class='memo-item__status <%- item.priority %>'></span>
    <span class='memo-item__title'><%- item.title %></span>
    <span class='memo-item__body'>
      <span class='content'><%- item.short_msg %></span>
      <span class='action'>
        <button id="memo-action<%- item.id %>"
                class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
          <i class="material-icons">more_horiz</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="memo-action<%- item.id %>">
          <li class="mdl-menu__item">編集</li>
          <li class="mdl-menu__item">削除</li>
        </ul>
      </span>
    </span>
    <span class='memo-item__footer'>
      <span class='date'><%- item.create_on %></span>
      <span class='creat-user'><%- item.name %></span>
    </span>
  </li>
<% }); %>

