<div class='user-edit-header__action'>
  <button class='btn btn--cancel is-hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent'>キャンセル</button>
  <button class='btn btn--save is-hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent'>保存</button>
  <button class='btn btn--edit mdl-button mdl-js-button mdl-button--raised mdl-button--accent'>編集</button>
</div>

<ul class='user-list'>

  <li class='user-list__item pid'>
    <span class='item-key'>PID</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item name'>
    <span class='item-key'>販社名</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item postal_cd'>
    <span class='item-key'>郵便番号</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item address'>
    <span class='item-key'>住所</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <h6>SE連絡先</h6>
  <li class='user-list__item se_affliation'>
    <span class='item-key'>所属</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item se_name'>
    <span class='item-key'>名前</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item se_tel'>
    <span class='item-key'>TEL</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item se_fax'>
    <span class='item-key'>FAX</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item se_email'>
    <span class='item-key'>e-mail</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <h6>SA連絡先</h6>

  <li class='user-list__item sa_affliation'>
    <span class='item-key'>所属</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item sa_name'>
    <span class='item-key'>名前</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item sa_tel'>
    <span class='item-key'>TEL</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item sa_fax'>
    <span class='item-key'>FAX</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item sa_email'>
    <span class='item-key'>e-mail</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <h6>緊急連絡先</h6>

  <li class='user-list__item em_company'>
    <span class='item-key'>社名</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item em_name'>
    <span class='item-key'>名前</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item em_tel'>
    <span class='item-key'>TEL</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>

  <li class='user-list__item em_email'>
    <span class='item-key'>e-mail</span>
    <input class='item-value' type='text' value='' disabled='disabled'></input>
  </li>



</ul>
