<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="TableRowAndCell.css" />
</head>
<body>

  <!-- ユーザー環境情報 -->
  <div id='user'>
    <ul>
      <li>AP1-1</li>
      <li>AP1-2</li>
      <li>AP1-3</li>
      <li>AP1-4</li>
      <li>AP1-5</li>
      <li>AP2-1</li>
      <li>AP2-2</li>
      <li>AP2-3</li>
      <li>AP2-4</li>
      <li>AP2-5</li>
      <li>AP3-1</li>
      <li>AP3-2</li>
      <li>AP3-3</li>
      <li>AP3-4</li>
      <li>AP3-5</li>
      <li>AP4-1</li>
      <li>AP4-2</li>
      <li>AP4-3</li>
      <li>AP4-4</li>
      <li>AP4-5</li>
      <li>AP5-1</li>
      <li>AP5-2</li>
      <li>AP5-3</li>
      <li>AP5-4</li>
      <li>AP5-5</li>
    </ul>
    <ul>
      <li>DB1-1</li>
      <li>DB2-1</li>
      <li>DB3-1</li>
      <li>DB4-1</li>
      <li>DB5-1</li>
    </ul>
  </div>

  <!-- 各種設定画面 -->
  <div id='config'>
    <script type="text/template" id='view-config'>
      <% _.each( view, function ( val, key ) { %>
        <div id=<%- key %> > <%- key %> </div>
      <% }); %>
    </script>
  </div>

  <!-- テーブル画面 -->
  <div class='table'>

    <!-- ヘッダ　列名 -->
    <div class='theader'>
      <div class='cell name' >1列目<span>▲</span></div>
      <div class='cell age'  >2列目<span>▲</span></div>
      <div class='cell sex'  >3列目<span>▲</span></div>
      <div class='cell check'>4列目<span>▲</span></div>
    </div>

    <!-- templateを用いてデータ表示-->
    <script type="text/template" id="template">
      <% _.each( data , function ( item ) { %>
        <div class='row' id=<%- item.id %> >
          <div class='cell name' > <%- item.name  %> </div>
          <div class='cell age'  > <%- item.age   %> </div>
          <div class='cell sex'  > <%- item.sex   %> </div>
          <div class='cell check'> <%- item.check %> </div>
        </div>
      <% }); %>
    </script>
  </div>

  <script src='./lib/jquery-2.1.4.min.js'></script>
  <script src='./lib/underscore.js'></script>
  <script src='sort.js'></script>
</body>
</html>