@charset 'UTF-8';

#user {
  width  : 180px;
  height : 100%;
  background-color: blue;
  float :left;
}

#config {
  width : 100%;
  height : 200px;
  background-color : red;
}

/*テーブル全体*/
.table {
  display : table;
  width : 480px;
  margin-top  : 10px; 
  margin-left : 200px;

}

/*テーブルヘッダー*/
.table div.theader {
  display : table-row;
  font-size: 1.3em;
  color: #ff0000;
}

/*テーブル行*/
.table div.row {
  display : table-row;
}

/*テーブル列*/
.table div.cell {
  display : table-cell;
}

/*name列*/
.table .row .name {
}