<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="TableRowAndCell.css" />
</head>
<body>

  <div class='table'>
    <!-- ヘッダ　列名 -->
    <div class='theader'>
      <div class='cell name' >1列目<span>▲</span></div>
      <div class='cell age'  >2列目<span>▲</span></div>
      <div class='cell sex'  >3列目<span>▲</span></div>
      <div class='cell check'>4列目<span>▲</span></div>
    </div>
    <!-- データ DB　-->
    <script type="text/template" id="template">
      <% _.each( data , function ( item ) { %>
        <div class='row'>
          <div class='cell name' > <%- item.name  %> </div>
          <div class='cell age'  > <%- item.age   %> </div>
          <div class='cell sex'  > <%- item.sex   %> </div>
          <div class='cell check'> <%- item.check %> </div>
        </div>
      <% }); %>
    </script>
  </div>

  <script src='./lib/jquery-2.1.4.min.js'></script>
  <script src='./lib/underscore.js'></script>
  <script src='sort.js'></script>
</body>
</html>