<html>
<head>
  <title>tableタグを使わない表作成</title>
  <meta charset='utf-8'>
  <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/TableRowAndCell.css" />
</head>
<body>

  <!-- enviroment view -->
  <div id='user'>
    <script type="text/template" id='servers'>
      <% _.each( list_server, function ( server ) { %>
        <ul> <%- server.NAME %> </ul>
      <% }) %>
    </script>
  </div>

  <!-- user action view -->
  <div id='config'>
    <script type="text/template" id='view-config'>
      <% _.each( view, function ( val, key ) { %>
        <div id=<%- key %> > <%- key %> </div>
      <% }); %>
    </script>
  </div>

  <!-- table view -->
  <table class='table table-hover'>
    <!-- table header -->
    <thead>
      <script type="text/template" id='table-header'>
        <% _.each( headerMap, function ( val, key ){ %>
          <th class=<%- key %> > <%- val  %> </th>
        <% }); %>
      </script>
    </thead>
    <!-- table body -->
    <tbody>
      <script type="text/template" id="template">
        <% _.each( customer.model.getData() , function ( item ) { %>
          <tr id='row<%- item.id %>' >
            <td><input type="checkbox"></td>
            <td class='cell kid' >      <%- item.kid  %> </td>
            <td class='cell server'>    <%- item.server   %> </td>
            <td class='cell genics'> <%- item.genics   %> </td>
            <td class='cell userkey'>   <%- item.userkey    %> </td>  
            <td class='cell author'>    <%- item.name   %> </td>
          </tr>
        <% }); %>
      </script>
    </tbody>
  </table>

  <!-- load javascript  -->
  <script src='./js/lib/jquery-2.1.4.min.js'></script>
  <script src="./js/bootstrap/bootstrap.min.js"></script>
  <script src='./js/lib/underscore.js'></script>
  <script src='./js/data.js'></script>
  <script src='./js/model.users.js'></script>
  <script src='./js/view.servers.js'></script>
  <script src='./js/sort.js' charset='utf-8'></script>
</body>
</html>